<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e">
    <link name="world" />

    <xacro:arg name="joint_limit_file" default="$(find ros2_robot_ur5e)/config/joint_limits.yaml"/>
    <xacro:arg name="initial_positions_file" default="$(find ros2_robot_ur5e)/config/initial_positions.yaml"/>
    <xacro:arg name="ur_calibration_file" default="$(find ros2_robot_ur5e)/config/ur_calibration.yaml"/>

    <xacro:include filename="robot.ur5e.xacro"/>
    <xacro:urdf_args 
        joint_limit_file="$(arg joint_limit_file)"
        ur_calibration_file="$(arg ur_calibration_file)" />

    <xacro:include filename="robot.control.xacro"/>
    <xacro:control_args 
        initial_positions_file="$(arg initial_positions_file)" />

</robot>